{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/style_form.css')}}">
{% endblock %}
{%  block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit Contact</h1>
                <p>Please edit the contact information and resubmit the form</p>
                {{ include('contactform/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}