{% extends 'base.html.twig' %}
{% block title %} <title>{{ name }}contact</title> {% endblock %}
{% block body %}
<h1>Contact information about: {{ name }}</h1>
    <p>a single contact information as a list</p>
    <p>edit fields buttons and remove contact buttons come here aswell</p>
{% endblock %}